/*
Theme Name: Services
Theme URI: https://serviceswp.co/#choices
Author: ServicesWP
Author URI: https://serviceswp.co/
Description: Build a website to promote your professional services. Features in this free version include: fully responsive and modern design, WooCommerce and bbPress support built right in, SEO-friendly, blazing-fast and lightweight, 2 custom menu areas, 3 custom widget areas, 2 custom page templates, easily upload a custom logo, header, background, add Google fonts, and more. Features in the pro version include: a drag and drop page builder, slider, Twitter feed, social share buttons (for Facebook, Twitter, and Google+), and much much more. While the free version packs a lot of features and is backed by free CSS and HTML customization support in our forums, if you need even more features, private email support, hosting, or custom services, please see all of our available options at: https://serviceswp.co/#choices. This theme is for: Accountants, Actors, Architects, Artists, Attorneys/Lawyers, Bakers, Barbers, Bars, Butchers, Carpenters/Construction, Chefs, Cleaners, Dentists, Doctors, Drivers, Electricians, Engineers, Farmers, Filmmakers, Landlords, Mechanics, Musicians, Nurses, Painters, Photographers, Plumbers, Printers, Psychologists, Realtors/Loan Officers, Restaurants, Tailors, Teachers/Trainers, Veterinarians, Writers, and any other kind of profession or business.
Version: 1.0.3
License: GNU General Public License v3 or Later
License URI: https://www.gnu.org/licenses/gpl.html
Tags: one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, custom-logo, featured-images, footer-widgets, full-width-template, microformats, sticky-post, theme-options, threaded-comments, translation-ready, blog, e-commerce, portfolio
Text Domain: services

Services WordPress Theme © 2018 ServicesWP
Services is distributed under the terms of the GNU GPL
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}body{line-height:1}a{text-decoration-skip-ink:auto}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}q{display:inline;font-style:italic}q:before{content:'"';font-style:normal}q:after{content:'"';font-style:normal}textarea,input[type="text"],input[type="button"],input[type="submit"],input[type="reset"],input[type="search"],input[type="password"]{-webkit-appearance:none;appearance:none;border-radius:0}table{border-collapse:collapse;border-spacing:0}th,td{padding:2px}big{font-size:120%}small,sup,sub{font-size:80%}sup{vertical-align:super}sub{vertical-align:sub}dd{margin-left:20px}kbd,tt{font-family:courier;font-size:12px}ins{text-decoration:underline}del,strike,s{text-decoration:line-through}dt{font-weight:bold}address,cite,var{font-style:italic}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}*{box-sizing:border-box;-webkit-tap-highlight-color:transparent}

body{font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-size:16px;font-weight:300;color:#777;line-height:normal;letter-spacing:0.5px;word-wrap:break-word;background:#f6f6f6}

body.custom-background #container{padding:0;margin:5%;background:rgba(255,255,255,0.9)}

h1, h2, h3, h4, h5, h6{font-weight:bold;margin-bottom:30px}
h2, h3, h4, h5, h6{margin-top:40px}
h1{font-size:35px}
h2{font-size:30px}
h3{font-size:25px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}
p{margin:30px 0}
.page #content p, .single-post #content p{font-size:18px;line-height:145%}
* p:last-of-type, #sidebar .widget-container:last-child{margin-bottom:0}
a{color:#00b4ff;transition:all 0.5s ease}
strong{font-weight:bold}
em{font-style:italic}
pre{overflow-x:auto;white-space:pre-wrap}
pre, code{font-family:'courier new',courier,serif;color:#00b4ff}
hr{height:1px;border:0;margin:30px 0;background:#00b4ff}
blockquote{padding:15px;border-left:4px solid #00b4ff;margin:30px 0}
blockquote p:first-of-type{margin-top:0}
.entry-content ul, .widget-container ul, .comment-body ul, .entry-content ol, .widget-container ol, .comment-body ol{text-indent:-20px;margin:30px 0 30px 40px}
.entry-content ol, .widget-container ol, .comment-body ol{list-style:decimal inside;text-indent:-18px}
.entry-content ul ul, .widget-container ul ul, .comment-body ul ul, .entry-content ol ol, .widget-container ol ol, .comment-body ol ol{margin-top:0;margin-bottom:0}
.entry-content ul li:before, .widget-container ul li:before, .comment-body ul li:before{content:"— "}
.entry-content li, .widget-container li, .comment-body li{line-height:125%;margin:10px 0}
input, textarea{font-family:arial,sans-serif;padding:15px;border:0;outline:0;margin-top:10px;background:#f6f6f6}
input[type="submit"], #menu .toggle:hover{cursor:pointer}
input[type="search"]{-webkit-appearance:textfield}
a img, input[type="image"]{border:0}
img, video, table, select, textarea{max-width:100% !important;height:auto}
table{width:100%;margin:30px 0}

#wrapper{max-width:100%;margin:0 auto}
#header, #container, #footer{padding:5%;background-color:#333}
#header{padding:0;background-position:center center;background-size:cover}
#header-nav{position:fixed;width:100%;padding:10px 5%;background:rgba(0,0,0,0.75);z-index:1000}
#logo{max-height:30px !important;margin-top:8px}
#container{background:#fff}
#container:after{display:table;content:"";clear:both}
#content, #content.content-woocommerce, #content.content-bbpress{width:100%;padding:4%}
.page-template-sidebar-left #content{width:75%;float:right}
.page-template-sidebar-right #content{width:75%;float:left}
.page-template-sidebar-left #sidebar{display:block !important;width:25%;padding:4% 0 4% 4%;float:left}
.page-template-sidebar-right #sidebar{display:block !important;width:25%;padding:4% 4% 4% 0;float:right}
#footer{clear:both}

#menu{margin-top:8px}
#menu ul, #menu ul li{display:inline;margin:0;padding:0;list-style:none}
#menu ul li{position:relative}
#menu ul li a{display:inline-block;font-size:18px;color:#fff;text-decoration:none;line-height:33px;padding-bottom:5px;margin-top:-1px;margin-right:30px}
#menu ul li a:hover{color:#ddd;text-decoration:none}
#menu li ul{display:none;position:absolute;top:25px;left:0;padding-top:17px;z-index:1000}
#menu ul li:hover ul{display:inline-block}
#menu ul ul{display:none}
#menu ul li:hover ul{display:block}
#menu ul li:hover ul li a{width:250px;font-size:14px;color:#333;text-align:left;line-height:20px;padding:10px;border:1px solid #eee;background:#fff}
#menu ul li:hover ul li a:hover{color:#777}
#menu .toggle{display:none;height:36px;color:#fff;text-align:center;line-height:32px}
.ios #menu .toggle{font-size:19px;line-height:36px}
#menu .menu-icon{position:relative;top:1px;font-size:22px}
.firefox #menu .menu-icon{top:0}

#fmenu{text-align:center}
#fmenu ul{padding:0}
#fmenu li{display:inline-block;margin:10px}

#search{float:right}
#search .search-field{width:200px;height:36px;margin-top:0;background-color:#fff}
.widget-container .search-field{width:100%}
.error404 .entry-content .search-field, .search .entry-content .search-field{width:200px;margin-top:30px}
.error404 .entry-content .search-field, .search .entry-content .search-field, .widget-container .search-field{background-color:#f6f6f6}
.search-field{background:url(images/find.png) no-repeat 98% center / 24px auto}

.button, button, input[type="submit"]{display:inline-block;font-size:18px;color:#fff;text-decoration:center;text-decoration:none;padding:10px 15px;border:0;background:#00b4ff;opacity:0.9}
.button:hover, button:hover, input[type="submit"]:hover{cursor:pointer;opacity:1}
#new-topic, #subscription-toggle{margin-bottom:30px;float:right}
.post, #fmenu, #fsidebar, .widget-container, .search article{margin-bottom:60px}
.post:last-of-type{margin-bottom:0}
#site-title a{font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;font-size:30px;font-weight:bold;color:#fff;text-decoration:none;line-height:40px;display:inline}
#site-title h1{margin-bottom:0}
#site-description{font-size:40px;font-weight:bold;color:#fff;text-align:center;text-transform:uppercase;padding:205px 5% 10%}
.single h1.entry-title a{color:#777;text-decoration:none}
h2.entry-title, h3.widget-title{margin-top:0}
#commentform label{display:block}
#commentform #comment{width:100%;max-width:400px !important;height:auto}
#comments .comment{margin:20px 10px}
#comments .comment-body{padding:10px}
#comments .odd > .comment-body{background:#f6f6f6}
#copyright{text-align:center}
.entry-meta, .entry-footer, .archive-meta{margin:30px 0}
.entry-footer{clear:both}
#copyright, #copyright a, .entry-meta, .entry-meta a, .entry-footer, .entry-footer a{font-size:14px;color:#aaa}

.sticky{padding-bottom:60px;border-bottom:4px solid #ccc}
.bypostauthor{}
.wp-caption{width:auto !important}
.wp-caption.aligncenter, .wp-caption-text, .gallery-caption{text-align:center}
#content .gallery img{border:4px solid #00b4ff}
.alignleft{margin:0 30px 30px 0;float:left}
.alignright{margin:0 0 30px 30px;float:right}
.aligncenter{display:block;margin:30px auto;clear:both}
.entry-attachment img{display:block;margin:60px auto 30px}
.attachment .entry-caption{text-align:center}
.nav-links{margin-top:30px}
.nav-links a, #nav-above a{text-decoration:none}
#nav-above a{display:block;font-family:tahoma,sans-serif;font-size:50px;color:#777;line-height:0;margin:30px 0 15px}
.nav-previous{text-align:left;float:left}
.nav-next{text-align:right;float:right}

.note{display:block;font-size:14px;padding:20px;margin:30px 0}

.blue, .blue *, .blue-dark, .blue-dark *, .green, .green *, .green-dark, .green-dark *, .orange, .orange *, .purple, .purple *, .red, .red *, .black, .black *{color:#fff}
.white, .white *, .yellow, .yellow *{color:#000}
.white{background-color:#fff !important}
.blue{background-color:#09f !important}
.blue-dark{background-color:#1c78b5 !important}
.green{background-color:#91da29 !important}
.green-dark{background-color:#5d8c1a !important}
.orange{background-color:#f98733 !important}
.purple{background-color:#bb6cf8 !important}
.red{background-color:#ef645d !important}
.yellow{background-color:#f8f658 !important}
.black{background-color:#4a4a45 !important}

.box, .box-2, .box-3, .box-4, #header-sidebar .widget-container, #footer-sidebar .widget-container, .box-5, .box-6, .box-1-3, .box-2-3{display:inline-block;width:100%;padding:1%;border:1px solid #00b4ff;float:left}
#header-sidebar .widget-container, #footer-sidebar .widget-container{padding:2.5%;border:0;border-radius:3px;margin:1% 0 1% 1%;background:rgba(255,255,255,0.9)}
.box-2{width:50%}
.box-3, .box-1-3{width:33.3333333%}
.box-4{width:25%}
#header-sidebar .widget-container, #footer-sidebar .widget-container{width:23.75%}
.box-5{width:20%}
.box-6{width:16.6666667%}
.box-2-3{width:66.6666666%}

.left{text-align:left}
.center{text-align:center}
.right{text-align:right}
.float-left{float:left}
.float-right{float:right}
.clear{clear:both}
.clear-left{clear:left}
.clear-right{clear:right}
.clear-float:after, .boxes:after{display:table;content:"";clear:both}

.bbpress ul, .bbpress ol{text-indent:0}
.bbpress #content li:before{content:''}
.bbpress #bbpress-forums #bbp-search-form #bbp_search{padding:10px !important}
.bbpress #bbp_search_submit{position:relative;bottom:-2.5px;font-size:18px !important;padding:6px 15px !important}
.bbpress #bbpress-forums .bbp-forum-info .bbp-forum-content, .bbpress #bbpress-forums p.bbp-topic-meta{font-size:14px}
.bbpress div.bbp-submit-wrapper{margin:15px 0 10px}
.bbpress .bbp-forum-title, .bbpress .bbp-topic-title{font-size:18px}
.bbpress #bbpress-forums li.bbp-body ul.forum, .bbpress #bbpress-forums li.bbp-body ul.topic{padding:15px}
.bbpress #bbpress-forums .bbp-forums-list li{display:inline-block;padding:5px;border-radius:2px;margin:2.5px 5px 2.5px 0;background:#f6f6f6}
.bbpress #content .bbp-reply-content p{font-size:16px;line-height:145%;margin:20px 0}
.bbpress #content .bbp-reply-content p:first-of-type{margin-top:0}
.bbpress #bbpress-forums div.bbp-reply-author img.avatar{margin:12px auto}
.bbpress #bbpress-forums .status-closed, #bbpress-forums .status-closed a{color:unset}
.bbpress #bbpress-forums #bbp-single-user-details{margin-bottom:30px}
.bbpress #bbpress-forums p.bbp-topic-meta img.avatar, .bbpress #bbpress-forums ul.bbp-reply-revision-log img.avatar, .bbpress #bbpress-forums ul.bbp-topic-revision-log img.avatar, .bbpress #bbpress-forums div.bbp-template-notice img.avatar, .bbpress #bbpress-forums .widget_display_topics img.avatar, .bbpress #bbpress-forums .widget_display_replies img.avatar{margin-bottom:-3px}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover{background-color:#00b4ff}

#content .addthis_toolbox{margin-top:30px}
#content .tml .message{margin:5px 0}
#content .tml-action-links li:before{content:""}
#content .tml-action-links li, .woocommerce-checkout .entry-content ul li{text-indent:0}

@media all and (max-width:1024px){.box-5, .box-6{width:25%}.boxes .box-5:nth-child(5){width:100%}.boxes .box-6:nth-child(5), .boxes .box-6:nth-child(6){width:50%}}
@media all and (min-width:769px){#site-title{float:left}#menu{text-align:right}#menu a{border-bottom:1px solid transparent}#menu .current-menu-item a, #menu .current_page_parent a{border-bottom:1px solid #00b4ff}#search .search-field{color:#fff;background:url(images/find-white.png) no-repeat 98% center / 24px auto;background-color:transparent}}
@media all and (max-width:768px){#container{padding:0 0 5%;margin:0 !important}#content, #sidebar{width:100% !important;padding:5% !important}#menu.checked{width:100%;height:100%;bottom:0;overflow-x:hidden;overflow-y:auto;z-index:1000}#menu label.toggle{display:block}#menu{background:#777}#menu ul, #menu ul ul{display:none}#menu input.toggle:checked + div > ul, #menu input.toggle:checked + div > ul ul{display:block;position:relative;top:0;padding:0}#menu input.toggle:checked + div > ul{padding-bottom:10px}#menu input.toggle:checked + div > ul li a, #menu input.toggle:checked + div > ul ul li a{display:inline-block;width:100%;font-size:18px;color:#fff;line-height:20px;padding:15px 0 5px 5%;border:0;margin-right:0;background:none}#menu input.toggle:checked + div > ul ul li a{color:#ccc;margin-left:15px}.box-4, .box-5, .box-6{width:50%}#header-sidebar .widget-container, #footer-sidebar .widget-container{width:48.5%}#bbpress-forums #bbp-your-profile fieldset label[for]{width:100%;text-align:left}} */
@media all and (max-width:767px){.nav-previous, .nav-next{float:none}.box-3{width:50%}.boxes .box-3:nth-child(3){width:100%}}
@media all and (max-width:480px){#site-title{text-align:center}#logo{max-height:none !important}.wp-caption, input, textarea, .button{width:100% !important}.button-small, input[type="checkbox"], input[type="radio"]{width:auto !important}.box-2, .box-3, .box-4, .box-5, .box-6, .boxes .box-6:nth-child(5), .boxes .box-6:nth-child(6), .box-2-3, .box-1-3, textarea{width:100%}#header-sidebar .widget-container, #footer-sidebar .widget-container{padding:5%}#header-sidebar .widget-container{width:90%;margin:0 5% 5%}#footer-sidebar .widget-container{width:100%;margin:0 0 5%}.bbpress #bbpress-forums div.bbp-search-form{float:none}}

.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important}
.form-allowed-tags, .search-submit, #sidebar{display:none !important}

@media print{#content{width:100%;color:#000;padding:0;margin:0;background:#fff;float:none}#header, #sidebar, #footer{display:none}}