/*
 Theme Name:   services-child
 Theme URI:    http://example.com/services/
 Description:  Services Child Theme
 Author:       Paola Bianchini
 Author URI:   http://example.com
 Template:     services
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  services-child
*/


/* style valido per pagine e post */
body, #site-title a, .header h1, .header h2, .header h3, .entry-content h2,.entry-content h3, .widget-title a, h5.card-title,h2.entry-title a,h1.entry-title a,span.entry-date, .wp-block-column h4,div.evento h5,div.evento-descrizione h5,div.col-4 h4, .footer-h4{
    font-family: 'Poppins', sans-serif;
}
h1.entry-title a.titolo-post{
    color:#a54d4b;
}
main#content {
    background-color: white;
    border-radius:3%;
}
div #container {
    background-color: #b2bf79;
}

main #content {
    background-color: white;
}

a:link{
    text-decoration: none;
}
a:active{
    color: #0b4489
}
.widget-title{
    margin:0;
}
.page #content p{
    font-size: 15px;
}
.wp-block-image figcaption{
   text-align:center;
}

/* ridimensionamento mappe nelle page e post ad eccezione di evento, vedi sezione */
span iframe{ 
    width:45%;
}

/* margine icone */
div.sfsi_widget {
    margin-top:40px;
}

/* --------------------------------------------------------------------------------- */

/* pagina home */

.eventi-home{
    padding: 10px;
    border-left: ridge;
}
.eventi-home h3{
    text-align: center;
}

ul.eventi_home_page li{
    list-style: disc;
}

ul.eventi_home_page{
    margin-left: 20px;
}
div.img_eventi-home_page{
    margin-bottom: 10px;
}
@media(max-width:1150px){
    .eventi-home{
        border-left: none;
    }
}

@media (max-width: 576px){
    div#container{
        min-width: 200px;
    }

    div.col-9, div.col-8,div.col-4{
        max-width:100%;
    }
    div.row{
        display:block;
    }
    .eventi-home{
        padding: 0 px;
    }

}

/* --------------------------------------------------------------------------------- */

/* pagina eventi gestione preview evento */
.preview{
    margin:10px;
    display:block;
}

.bottone-preview-evento {
    background-color:  #b2bf79;
    color:#212529;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border-radius:3%;
    text-align: center;
    outline: none;
    font-size: 18px;
    font-weight: 900;
  }
  
  .attivo, .bottone-preview-evento:hover {
    background-color:#1b7542;
    color:white;
  }
  
  div.card{
    width:100%;
    height: 60%;
  }


  .preview-evento {
    width: 90%;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .tabella-preview-eventi{
        color:#777; 
  }

  .card-body{
      text-align: center;
 
  }
  .bottone-dettaglio-evento{
      background-color: #1b7542;
      color:white;
  }
  @media (max-width: 576px){
    .preview{
        width: 260px;
    }
    div.ricerca-evento{
        max-width:260px;
    }
        body{
            min-width: 300px;
    }
}

#search-eventi{
    color:#777;
    border:solid 4px;
    border-radius: 3%;
    width:100%;
    margin-bottom: 25px;
}
.ricerca-evento{
    text-align: center;
}

div.ricerca-evento form.search-form{
    width:100%;
}
input.search-field{
    width:100%;
}

/* --------------------------------------------------------------------------------- */

/* single-gestione_eventi */

div.evento{
    text-align: center;
}
header.evento{
    text-align: center;
}
div.evento h5{
    margin-top:10px;
    margin-bottom: 0px;
}
div.evento iframe{
    width: 100%;
    margin-top:10%;
}
@media(max-width:576px){
    .col-6{
        max-width: 100%;
    }
}

.footer-single-gestione-eventi{
    margin-top:2%;
    font-weight: bold;
}

/* --------------------------------------------------------------------------------- */

/* pagina centro storico */
@media(min-width:576px){
    div.centro-storico-sx{
        width:80%;
    }
}
ul.wp-block-categories-list li{
    list-style-type: none !important;

}

/* --------------------------------------------------------------------------------- */

/* footer */

div.footer-cite{
    text-align: center;
    margin-top: 2%;
}
.footer-container cite{
    font-size: 13px;
}
#footer {
    padding: 5% 0%;
}

